@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.boton-gral, .boton-sombra2, .boton-sombra {
  border: none;
  border-radius: 2rem;
}

.boton-sombra {
  box-shadow: 10px 10px 5px 0px rgba(176, 32, 32, 0.81);
}

.boton-sombra2 {
  margin: 5px;
  background-color: aqua;
  padding: 20px;
  box-shadow: 10px 10px 5px 0px rgba(176, 32, 32, 0.81);
}

/*      Selectores      */
* {
  font-family: "Roboto", sans-serif;
}

/* SELECTORES DE ETIQUETAS */
body {
  font-size: 62.5%;
}

p {
  font-size: 1.5em;
}

header {
  margin: 0 auto;
}
header img {
  width: 100%;
}

nav div a img {
  width: 120px;
}

/*Selectores de clase*/
.p404 {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, rgb(49, 78, 6) 0%, #FFFB7D 100%);
  display: flex;
}
.p404 div {
  width: 40%;
  border: 2rem;
  border-radius: 2rem;
  margin: 5px;
}
.p404 div a {
  width: 10%;
}
.p404 div a img {
  margin: 20px;
}
.p404 div p {
  text-align: right;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: rgb(49, 78, 6);
}

.img-e404 {
  margin: 25px;
}

.texto-tipografia2 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 1rem;
}

.texto-lobster {
  font-family: "Lobster", sans-serif;
}

.tLg {
  font-size: 1.6rem;
}

.texto-centrado {
  text-align: center;
}

.texto-derecha {
  text-align: right;
}

.bg-patron {
  background-image: url(../images/backgrounds/bubble.png);
}

.bg-patron2 {
  background-image: url(../images/backgrounds/bg2.png);
}

.centrarimagen {
  display: block;
  margin: auto;
}

.texto-margen {
  padding: 2em;
}

/*Posición de los elementos */
.justify-items {
  justify-items: center;
}

.align-items {
  align-items: center;
}

.esquina-redonda {
  border-radius: 1rem;
}

.bg-test {
  border-color: red;
  border-width: 2rem;
  border-radius: 1rem;
  border: dotted 1px deeppink;
}

.bg-grey {
  background-color: grey;
}

.bg-yellow {
  background-color: yellow;
}

.bg-blue {
  background-color: blue;
}

.bg-blue2 {
  background-color: rgb(20, 198, 221);
}

.bg-celda2 {
  background-color: rgb(226, 120, 178);
}

.navegador {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, rgb(49, 78, 6) 0%, #FFFB7D 100%);
}
.navegador div ul li a {
  font-size: 1.2rem;
  color: rgb(44, 2, 68);
}

nav div a img {
  border-radius: 0.3em;
}

.btn-centro {
  text-align: center;
}
.btn-centro button {
  margin: 5px;
  margin-top: 15px;
  padding: 30px;
}

/* nueva grilla productos*/
.productos {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productos figure {
  width: 30%;
  border-radius: 4px;
  border: solid gray 1px;
  margin: 14px;
  padding: 20px;
}
.productos figure p {
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;
  margin: 20px;
}
.productos figure img {
  width: 100%;
}
.productos figure figcaption {
  color: rgb(34, 150, 69);
  font-size: 2.3rem;
  margin-top: 10px;
  text-align: center;
}
.productos figure button {
  border: solid;
  background-color: rgb(58, 56, 148);
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.par1 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: rgb(168, 19, 19);
  font-family: sans-serif;
}

/*==============================GRIDS ===========================*/
/*Definimos contenedor como GRID */
.grid {
  width: 100%;
  display: grid;
}

/*Definimos nuestro templates por áreas --- 3 cols - 3 rows - areas*/
.template-areas {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 5px;
  grid-template-areas: "celda1 celda3 celda5" "celda1 celda4 celda5" "celda2 celda4 celda5";
}

#celda3 {
  grid-area: celda3;
}

#celda5 {
  grid-area: celda5;
}

#celda1 {
  grid-area: celda1;
}

#celda2 {
  grid-area: celda2;
}

#celda4 {
  grid-area: celda4;
}

.indexflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.enlaceindex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.par2 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: rgb(168, 19, 19);
  font-family: sans-serif;
  margin: 30px;
}

.boton {
  border: solid;
  background-color: rgb(58, 56, 148);
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.form-configura {
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
  font-size: 1.5em;
  color: rgb(168, 19, 19);
}

/*      media queries       */
@media (width < 768px) {
  .template-areas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "celda1" "celda2" "celda3" "celda4" "celda5";
  }
  svg {
    height: 30px;
    width: 30px;
  }
  /* productos */
  .productos figure {
    width: 100%;
  }
  .productos figure img {
    width: 300px;
  }
  .productos p {
    padding: 20px;
    font-size: 1.6em;
    line-height: 1.8em;
  }
  /*      Nosotros breakpoint      */
  main div img {
    margin: 0;
    width: 100%;
  }
  /* Index */
  .indexflex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  main section div img {
    margin: 0;
    width: 60%;
  }
  .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.piepagina {
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #f3c9c9 0%, #6284FF 50%, rgb(88, 208, 230) 100%);
  margin-top: 10px;
  padding: 20px;
  padding-bottom: 50px;
}
.piepagina h2 {
  font-family: "Lobster", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}
.piepagina h3 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 1rem;
  text-align: right;
}
.piepagina div { /* d-flex justify-content-around; */
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.piepagina div a svg {
  width: 60px;
  height: 60px;
  fill: rgb(44, 52, 160);
}

/*# sourceMappingURL=main.css.map */
