/*      Selectores      */
*{    font-family: 'Roboto',sans-serif;
} 
/* SELECTORES DE ETIQUETAS */
body{
    font-size: 62.5%;
}
header{
    margin: 0 auto;
}
header img{
    width: 100%;
}
svg{
    height: 60px;
    width: 60px;
}
nav div a img{
    width: 120px;
}