.boton{
    border: solid;
    background-color: $color-boton;
    // background-color: rgb(58, 56, 148);
    color: white;
    border-radius: 8px;
    padding:10px ;
    margin-bottom: 20px;
    text-align: center;
}
