.boton{
    border: solid;
    background-color: $color-boton;
    // background-color: rgb(58, 56, 148);
    color: white;
    border-radius: 8px;
    padding:10px ;
    margin-bottom: 20px;
    text-align: center;
}
.form-configura{

    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 2em;
    border: 1px solid #CCC;
    border-radius: 1em;

    font-size: $textoMd;
    color: $p1;

}