.btn-centro{
    text-align: center;
    margin: 10px;
    a{
        border: solid; 
        border-radius: 0.5rem;
        margin: 5px;
        margin-top: 25px;
        padding: 10px;
        background-color: $color-boton;
        color: black;
        margin-bottom: 20px;
    }
}
/* nueva grilla productos*/
.productos{
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    figure{
        width: 30%;
        border-radius: 2px;
        border: solid gray 1px;
        margin: 14px;
        padding:  20px;
        p{
            font-size: 1rem;
            line-height: 1.2rem;
            text-align: left;
            
            margin: 20px;
        }
        img{
            width: 100%;
        }
        figcaption{
            color: rgb(34, 150, 69);
            font-size: 2.3rem;
            margin-top: 10px;
            text-align: center;
        }
        button{
            
            background-color: $color-boton;
            color: white;
            border-radius: 8px;
            padding:10px ;
           
            text-align: center;
        
        }
    }
}


    

    


   