//Variables GLOBALES
$color01: rgb(49, 78, 6);
$mainColor: rgb(65, 142, 194);
$color-boton: rgb(135, 134, 165);
$p1:rgb(168, 19, 19);




//fuentes y propiedades de texto
$Fuente1: 'Roboto', sans-serif;
$Fuente2: 'Lobster',sans-serif;
$Fuente3:  'Permanent Marker',sans-serif;
$textoSm: 1em;
$textoMd: 1.5em;
$textoLg:2.4em;
$textoBold:700;
$textoLight:300;